# discord bot configuration
src/**/*/config.js
src/**/*/config.json

# database configuration for sequelize
database-sequelize-migrations-config.cjs
database.js

*.env
*.service
*.production.yml

node_modules
TODO