# discord bot configuration
src/config.js
src/**/*/config.json

# database configuration for sequelize
database-sequelize-migrations-config.cjs
database.js

*.env
*.service

node_modules
TODO

build/

src/commands/lofi/voice/
